#loading {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

.bkK > .nH .AO div[data-message-id] a[href*='accounts.google.com/AccountChooser'] {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

.aoW,
.aRq,
.j1ei8c,
.PrFpef,
.AFNENd,
.z0 > .L3,
.btm > .adI,
.ii a[href],
.gbii::before,
.lqhisf.DpNtP,
.bAp.b8.UC .vh,
.sq.bjE .ss.si,
.byl .TK .nZ.aBP,
.aAA .aJi-aLe .aDG,
.nZ > .aHS-bnt .qj,
.J-KU-KO > .aIf-aLf,
.aHS-bnt .qj::before,
.J-KU-KO.aJi-aLe .aKz,
.J-KU-KO.aIf-aLe .aKz,
.J-KU-KO.aKe-aLe .aKz,
.aAy.J-KU-KO > .aJi-aLf,
.aAy.J-KU-KO > .aKe-aLf,
.J-KU-KO.aJi-aLe::before,
.J-KU-KO.aIf-aLe::before,
.J-KU-KO.aKe-aLe::before {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

.aT5-aOt-I .aT5-aOt-I-JX-Jw[style*='_add_black_'] {
  filter: invert(0) !important;
  -webkit-filter: invert(0) !important;
}

#loading {
  background-color: #272727 !important;
}

.byl .TO.nZ > .aHS-bnt .n0, .nZ > .aHS-bnt .bsU {
  color: #00adff !important;
}

.btm > .adI {
  background-color: #c8c8c8 !important;
}

.la-k .la-m {
  background: #272727 !important;
}

.zE {
  background: #00000021 !important;
}

.la-k .la-l,
.la-k .la-r {
  border-color: #272727 !important;
}

.gb_Ha svg {
  fill: #b6b6b6 !important;
}

.msgb {
  color: #fff !important;
}
