 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #26245E;
active-foreground: #F5EDEE;
normal-background: #000000;
normal-foreground: #F5EDEE;
urgent-background: #B44D85;
urgent-foreground: #F5EDEE;

alternate-active-background: #82B14E;
alternate-active-foreground: #F5EDEE;
alternate-normal-background: #000000;
alternate-normal-foreground: #F5EDEE;
alternate-urgent-background: #000000;
alternate-urgent-foreground: #F5EDEE;

selected-active-background: #26245E;
selected-active-foreground: #000000;
selected-normal-background: #26245E;
selected-normal-foreground: #000000;
selected-urgent-background: #82B14E;
selected-urgent-foreground: #000000;

background-color: #000000;
background: rgba(0,0,0,0.7);
foreground: #F5EDEE;
border-color: #26245E;

color0: #29292B;
color1: #AF7247;
color2: #499B71;
color3: #82B14E;
color4: #26245E;
color5: #B44D85;
color6: #448BAC;
color7: #F5EDEE;
color8: #4F4F51;
color9: #AF7247;
color10: #499B71;
color11: #82B14E;
color12: #26245E;
color13: #B44D85;
color14: #448BAC;
color15: #F5EDEE;


}

